@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #131b29;
}

#description-container p {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.body-text h2{
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.text{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.navbar{
    animation: slideDown 0.5s ease;
    border-bottom: 2px solid #00c8ff;
    background: linear-gradient(to bottom, #19334d 90%, #0e1926);
    background-color: #1d3752;
    width: 97%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(25, 51, 77, 0.95);
    backdrop-filter: blur(6px);
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

#tentacles {
    height: 90px;
    width: 90px;
    animation: waveTentacle 1.9s ease-in-out infinite;
    transform-origin: bottom left;
    filter: drop-shadow(0 0 6px #04a3cf);
}

@keyframes waveTentacle {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(2deg); }
  }

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    margin-top: -10px;
    margin-left: -13px;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    color: #1d3752;
    font-size: 25px;
}

.navbar-nav li a{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar-nav li a:hover{
    color: #FFFFFF;
    box-shadow: 0 0 12px #FFFFFF;
    cursor: pointer;

}

.nav-bar {
    display: flexbox;
    background-color: #1d3752;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header-text {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 10px;
}

.stats-text h2{
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;       
}

.stats-container:hover {
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
}
.box{
    position: relative;
}
.search-input{
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 4px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #FFFFFF;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #9ca0a5;
    border-radius: 10px;
}
.box i{
    position: relative;
    top: -30px;
    left: 14px;
    right: 14px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #FFFFFF;
    transition: .3s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
